/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* Root Colors */
:root {
    --black: #000000;
    --color1: #244855;
    --color2: #E64833;
    --color3: #874f41;
    --color4: #90aead;
    --color5: #fbe9d0;
    --color6: #f7ca18;
    --color7: linear-gradient(90deg, var(--color6), var(--color2), var(--color1));
}

/* Body Styles */
body {
    background-color: #f0f2f5;
    scroll-behavior: smooth;
}

/* Header Styles */
.header {
    background: linear-gradient(90deg, var(--color6), var(--color2), var(--color1));
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.header.scrolling-up {
    background: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header.scrolling-down {
    background: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header.hide {
    top: -100px; /* Adjust based on your navbar height */
}

.header .flex {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.header .logo img {
    height: 50px;
}

.header .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header .navbar a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none; /* Changed from solid to none */
    transition: background 0.3s ease, color 0.3s ease;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 7px;
    background: rgba(100, 100, 100, 0.12);
}

.header .navbar a:hover {
    background: var(--black);
    color: #fff;
}

.header .icons {
    display: flex;
    align-items: center;
    position: relative;
}

.header .icons i {
    font-size: 20px; /* Adjusted font size */
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    color: #fff;
}

.header .icons i:hover {
    color: var(--color3);
    transform: scale(1.2);
}

.header .icons sup {
    color: #fff;
    font-size: 0.8em;
    vertical-align: top;
}

.header .dropdown,
.header .dropdown2 {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    backdrop-filter: blur(70px);
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    z-index: 1000;
    width: 250px;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.header .dropdown.show,
.header .dropdown2.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.header .dropdown .user-box,
.header .dropdown2 .user-box {
    padding: 20px;
    text-align: center;
}

.header .dropdown .user-box p,
.header .dropdown2 .user-box p {
    margin: 10px 0;
    color: #ffffff;
    font-size: 16px;
}

.header .dropdown .user-box span,
.header .dropdown2 .user-box span {
    color: var(--color2);
}

.header .logout-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header .logout-btn {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: var(--color2);
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.header .logout-btn:hover {
    box-shadow: 0 0 10px #ff000082, 0 0 25px #ff660082, 0 0 50px #ff950082;
    transition-delay: 0ms;
}

.header .logout-btn span {
    position: absolute;
}

.header .logout-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0000);
}

.header .logout-btn:hover span:nth-child(1) {
    left: 100%;
    transition: 0.7s;
}

.header .logout-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0000);
}

.header .logout-btn:hover span:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
}

.header .logout-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
}

.header .logout-btn:hover span:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
}

.header .logout-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0000);
}

.header .logout-btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
}

.header .logout-btn:active {
    background: #ff0000;
    background: linear-gradient(to top right, #ffb700, #ff5900);
    color: #000000;
    box-shadow: 0 0 8px #ff0000, 0 0 8px #ff5900, 0 0 8px #ff0000;
    transition: 0.1s;
}

.header .logout-btn:active span:nth-child(1),
.header .logout-btn:active span:nth-child(2),
.header .logout-btn:active span:nth-child(3),
.header .logout-btn:active span:nth-child(4) {
    transition: none;
    transition-delay: none;
}

.header .icons .dropdown2 a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .icons .dropdown2 a:hover {
    background-color: var(--color2);
    border-radius: 10px;
}
